@charset "UTF-8";
@import "compass/css3";

@import "deprecated";
@import "uo-common";
/* CSS Document */

/* Background Colors */
$background-header: #154733;
$background-ankle: #222222;
$background-footer: #000000;

/* Text Colors */
$text-color: #ffffff;

/* Link Colors */
$link-color: #ffffff;
$link-color-ankle: #bbbbbb;
$link-color-hover: #fdcd07;

/* Global Font Family */
$font-family-global: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
$font-weight-global: "normal";
$font-weight-semibold: 600;

/* Dimensions */
$gutter-width:  30px;

/* This is a value defining "infinity", or very large values. */
$inf: 90000px;

/* Social Media Icon scaling */
$socialicon-height: 45px;

/*
 * These variables provide windows size breakpoints we use as part of cosmic.
 * These represent a targeted lowest value (min-width) for that particular device.
 */

/*********************************/
/*********  BASE RULES  **********/
/*********************************/
/* Prevent mobile browsers from breaking the overflow display of the sidebar menu. */
body, #uobanner-sidebar {
  overflow-x: hidden !important; 
}
body {
  right: 0 !important;
  min-width: $breakpoint-tiny !important;
  width: 100% !important;
  height: auto !important;
  overflow: visible !important;
}
#uobanner-sidebar {
  display: none;
  width: 0;
}

/* Shift the content over when the sidebar is active. */
body.uobanner-sidebar-active {
  position: absolute !important;
  width: calc(100% - $sidebar-width) !important;
  height: 100vh !important;
  overflow: hidden !important;

  @media all and (max-width: $breakpoint-small - 1) {
    left: -$sidebar-width-tiny !important;
    right: $sidebar-width-tiny !important;
  }

  @media all and (min-width: $breakpoint-small) {
    left: -$sidebar-width !important;
    right: $sidebar-width !important;
  }
}

.uobanner-clear-both {
  clear: both;
}

.uobanner-sidebar-active #uobanner-sidebar {
  display: block;

   @media all and (max-width: $breakpoint-small - 1) {
    width: $sidebar-width-tiny;
  }

  @media all and (min-width: $breakpoint-small) {
    width: $sidebar-width;
  }
}

#uobannerandfooter-uoheader {
   font-weight: $font-weight-semibold;
}

#uobannerandfooter-uoheader, #uobannerandfooter-uoankle, #uobannerandfooter-uofooter {
  font-family: $font-family-global;
  clear: both;

  a {
    color: $link-color;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

#uobannerandfooter-uoankle, #uobannerandfooter-uofooter {
  a {
    color: $link-color-ankle;
  }
}

.uoheader-container, .uoankle-container, .uofooter-container {
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

/*********************************/
/********  HEADER RULES  *********/
/*********************************/
#uobannerandfooter-uoheader {
  background-color: $background-header;
  color: $text-color !important;
  text-transform: uppercase !important;
  overflow: hidden;
  height: 52px !important;

  .utility-links {
    display: none;
    margin: 0;
    clear: both;
    float: right;
    font-size: 13px;

    li {
      display: inline;
    }
  }

  .inline li:last-of-type {
    padding-right: 0;
  }
}
.uoheader-uologo-container {
  float: left;
  margin-top: 5px;

  @media all and (max-width: $breakpoint-small - 1) {
    
    width: 150px;

    img {  
      width: 150px;
    }
  }

  @media all and (min-width: $breakpoint-small) {
    
    width: 180px;

    img {  
      width: 100%;
    }
  }
}
.uobanner-sidebar .uoheader-uologo-container {
   @media all and (max-width: $breakpoint-small - 1) {
    width: 130px;
  }

  @media all and (min-width: $breakpoint-small) {
    width: 180px;
  }
}
 
.uoheader-links-container {
    float: right;
}
.uoheader-links {
  // show util links on larger screens (>960px)
  @media all and (min-width: $breakpoint-desktop + 1) {
    display: inline;
    padding: 0;
    margin-bottom: 0;
    float: right;
    font-size: 16px;
    margin-top: 14px;

    li {
      display: inline;
      list-style-type: none;
      padding: 0 1.5em 0 0;
      margin: 0 15px 0 0;

      &:last-of-type {
        padding: 0;
      }
    }
  }
    
  //hide util links on smaller screens (<= 960px)
  @media all and (max-width: $breakpoint-desktop) {
    display: none;
  } 
}

#uobanner-navmenu {
  @media all and (max-width: $breakpoint-desktop) {
    display: block;
  }
  @media all and (min-width: $breakpoint-desktop + 1) {
    display: none;
  }
  height: 50px;
  width: 50px;
  cursor: pointer;
  float: right;
  text-indent: -$inf;
  background: url('../images/hamburger-icon.png') no-repeat center center;
  margin-top: 0;
  background-color: rgba(35,35,35,0.5);
}
.js .uobanner-sidebar #uobanner-navmenu {
  display: block;
}
.lt-ie9 #uobanner-navmenu {
  display: none;
}
@media all and (max-width: $breakpoint-desktop - 1) {
  .uobanner-sidebar #uobannerandfooter-uoheader {
    .uoheader-links {
      display: none;
    }
  }
}
@media all and (min-width: $breakpoint-desktop) {
  .js .uobanner-sidebar #uobanner-navmenu {
    display: none;
  }

  body.uobanner-sidebar-active {
    width: 100%;
    height: auto;
    overflow: visible;
    left: 0 !important;
    right: 0 !important;
    position: static;
  }
  .uobanner-sidebar-active #uobanner-sidebar {
    display: none;
    width: 0;
  }
}

/*********************************/
/*********  ANKLE RULES  *********/
/*********************************/
#uobannerandfooter-uoankle {
  background: $background-ankle;
  color: $text-color !important;
  font-size: 16px;

  [class*='socialicon-'] {
    display: inline-block;
    height: $socialicon-height;
    width: $socialicon-height;
    text-indent: -90000px;
    background: url("../images/social-sprite-hires.png") no-repeat 0 0;
    background-size: auto $socialicon-height;
    margin: 10px 5px 5px 0;
  }
  
  /* Set the background offset for each service in the sprite. */
  $socialicon-list: facebook twitter youtube instagram linkedin pinterest rss;

  /* Iterate over socialicon-list to set icon position */
  @each $current-icon in $socialicon-list {
    
    // $i is the index value of socialicon-list minus 1
    $i: index($socialicon-list, $current-icon)-1;

    // Set icon position for each in the socialicon-list
    .socialicon-#{$current-icon} {
      background-position: $socialicon-height * -$i 0;
    }
  }

}
.uoankle-container {
  padding-top: $gutter-width * 1.5;
  padding-bottom: $gutter-width * 1.5;
  overflow: hidden;

  @media all and (max-width: $breakpoint-tablet - 1) {
    padding-top: $gutter-width / 2;
    padding-bottom: $gutter-width / 2;
  }
}
.uoankle-custom-content {
  float: left;
  width: 66%;
}
.uoankle-contact-info-container {
  float: right;
  width: 33%;
}
.uoankle-contact-info {
  float: right;
  padding-left: 20px;
  max-width: 100%;

  p {
    margin-top: 10px;
  }

  .uoankle-phone-fax{
    display: inline-block; margin-right: 20px; white-space: pre;
  }

}
@media all and (max-width: 768px) {

  .uoankle-container {
    padding: 15px;
  }
  .uoankle-custom-content {
    width: 100%;
  }
  .uoankle-contact-info-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 0 0;
  }
  .uoankle-contact-info {
    float: left;
    padding-left: 0;

    p {
      margin-top: 20px;
    }
  }
}
.footer-collapsable-grid {
  @media all and (max-width: $breakpoint-tablet - 1) {
    .grid-item {
      width: 100%;
      clear: both;
      margin-top: 0;
      margin-bottom: 2px;
    }
  }
}

/*********************************/
/********  FOOTER RULES  *********/
/*********************************/
#uobannerandfooter-uofooter {
  background: $background-footer;
  color: $text-color !important;
  text-transform: uppercase !important;
  font-size: 16px;
}
.uofooter-container {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  overflow: hidden;
}
.uofooter-links-container {
  float: left;
  padding: 12px 0 0 0;
  margin: 0;
}
.uofooter-link {
  padding: 0 40px 0 0;
}
.uofooter-copyright-container {
  float: left;
  padding: 12px 0 0 0;
  margin: 0;
}
.copyright-symbol {
  display: block;
  float: left;
  margin: 0 4px 0 0;
}
.uofooter-logo-container {
  float: right;
  margin-left: 30px;

  img {
    width: 53px;
    height: 44px;
    float: right;
  }
}
.uofooter-legal-container {
  width: 100%;
  clear: both;

 p {
    padding: 10px 0 0 0;
    font-size: .7em;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: none;
  }
}


@media all and (max-width: 768px) {
  #uobannerandfooter-uofooter {
    overflow: hidden;
    padding-bottom: 15px;
  }
  .uofooter-container {
     padding: $gutter-width 0 0 $gutter-width;
  }
  .uofooter-links-container {
    padding-top: 0;
    padding-bottom: 0;

    .uofooter-link {
      clear: left;
      float: left;
      margin-top: 5px;
    }
  }
  .uofooter-copyright-container {
    padding-top: 20px;
    padding-bottom: 0;

    @media all and (max-width: $breakpoint-small - 1) {
      font-size: 12px;
    }

    .copyright, .all-rights-reserved {
      float: left;
    }
  }
  .uofooter-logo-container {
    width: 30%;

    @media all and (max-width: $breakpoint-small - 1) {
      float: left;
      margin-top: 10px;
    }

    img {
      width: 100px;
      height: auto;
      margin: 8px $gutter-width 0 0;
    }
  }
  .uofooter-legal-container {
    width: 100%;
    clear: both;

   p {
      padding: 10px 30px 0 0;
      font-size: .7em;
      color: #ffffff;
      font-family: sans-serif;
      text-transform: none;
    }
  }
}

/*********************************/
/********  SIDEBAR RULES  ********/
/*********************************/
$sidebar-button-height: 50px;
#uobanner-sidebar {
  @include transition-property(all);
  @include transition-duration(.5s);
  position: fixed;
  display: none;
  background: #222222;
  height: 100%;
  width: 0;
  z-index: 100;
  overflow-y: scroll;
  right: 0;
  top: 0;

  h2 {
    background: black;
    color: #FCE66D;
    border-top: 1px solid #FCE66D;
    padding: 0 20px;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  // Hide top border on top h2 to make it look less awkward
  h2:first-of-type {
    border-top: none;
  }

  a {
    color: white;
    display: block;
    width: 250px;
    height: 100%;
    padding: 0 20px;
    @include box-sizing(border-box);

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
  }

  li {
    margin-bottom: 1px;
    background: #202020;
    line-height: 1.4em;
    padding: 15px 0;
  }

  dl.collapsable {
    @include collapse-style();
    margin-left: 0;
    width: 100%;

    a {
      padding: 0;
    }
  }

  dt {
    color: white;
  }

  @media all and (min-width: $breakpoint-desktop) {
    width: 0 !important;
  }

  .block-search {
    $search-text-padding: 20px;
    $submit-button-size: 32px;
    position: relative;

    .form-text {
      background: #444444;
      color: white;
      border: none;
      height: 50px;
      width: 100%;
      padding-left: $search-text-padding;
      padding-right: $search-text-padding + $submit-button-size + ($submit-button-size / 2);
    }

    .form-submit {
      background: #444444 url('../images/search-icon.png') no-repeat center center;
      background-size: 18px;
      border: none;
      background-size: $submit-button-size / 2;
      height: $submit-button-size;
      width: $submit-button-size;
      margin-top: $submit-button-size / 4;
      margin-right: $submit-button-size / 2;
      text-indent: -$inf;

      .lt-ie9 & {
        background-image: url('../images/search-icon-lowres.png');
      }
    }

    .form-item {
      margin: 0;
    }

    .form-actions {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
